<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Centrifuge.GameSupport.Distance" version="4.1.0" targetFramework="net471" />
  <package id="Centrifuge.Mod.SDK" version="3.2.0" targetFramework="net471" />
  <package id="HarmonyX" version="2.5.1" targetFramework="net471" />
  <package id="Json.Net.Unity3D" version="9.0.1" targetFramework="net471" />
  <package id="Mono.Cecil" version="0.11.4" targetFramework="net471" />
  <package id="MonoMod.RuntimeDetour" version="21.7.8.3" targetFramework="net471" />
  <package id="MonoMod.Utils" version="21.7.8.3" targetFramework="net471" />
  <package id="PraeyForTheGods.GameLibs" version="1.0.6" targetFramework="net471" />
</packages>